.color1{
    background-color: white;
    width: auto;
}
.textos{
    color: black;
    font-weight: bold;
    
}
footer{
    background-color: white;
    width: auto;
    text-align: center;
    clear: both;

}
a:hover{
    background-color: cornflowerblue;
    border-radius: 20px; /*borde redondito*/
    padding: 15px;
}