*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    min-height: 100%;
    margin: 0;
    margin-bottom: relative;
}

.color1{
    background-color: white;
    width: auto;
}
.textos{
    color: black;
    font-weight: bold;
    
}

main{
    padding: 10%;
}

footer{
    background-color: white;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: inline-end;

}
a:hover{
    background-color: cornflowerblue;
    border-radius: 20px; /*borde redondito*/
    padding: 15px;
}